body {
    font-family: 'Times New Roman', Times, serif;
    /* background-color: burlywood; */
}

h1 {
    font-style: italic;
    color: white;
    text-align: center;
    text-decoration: underline;
}

.todo-container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 5px double #ccc;
    border-radius: 10px;
}

.todo-input {
    width: 50%;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.todo-item input[type="checkbox"] {
    margin-right: 5px;
}

.todo-item span {
    flex-grow: 1;
    color: white;
    font-size: large;
}

.todo-item button {
    color: white;
    padding: 10px;
    background-color: black;
    cursor: pointer;
    border: none;
}
button {
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    padding: 2% 5%;
    text-decoration: underline;
    font-size: 16px;
    transition-duration: 0.4s;
}
button:hover {
    background-color: white;
    color: black;
}
